@use "mixins" as m;

// Color palette
$color-primary: #DBE2EF;
$color-accent: #3F72AF;
$color-dark: #112D4E;
$color-text: #3F72AF;

// Typography
$fs-logo: m.rem(35);
$fs-title: m.rem(24); // 24px이고, 우리 기준 2.4rem임
$fs-menu: m.rem(22);
$fs-body: m.rem(18);
$fs-button-sm: m.rem(12);

$z-header: 100;
$z-modal: 1000;