@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-bg);
}